.type-icon-17 {
    background: white url('../img/icons/icon-nature.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}
.type-icon-18 {
    background: white url('../img/icons/icon-sports.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}
.type-icon-19 {
    background: white url('../img/icons/icon-tripping.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-20 {
    background: white url('../img/icons/icon-shopping.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-21 {
    background: white url('../img/icons/icon-cafe.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-23 {
    background: white url('../img/icons/icon-restaurant.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-23 {
    background: white url('../img/icons/icon-restaurant.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-24 {
    background: white url('../img/icons/icon-frituur.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-25 {
    background: white url('../img/icons/icon-cara.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-26 {
    background: white url('../img/icons/icon-asian.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-26 {
    background: white url('../img/icons/icon-asian.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-27 {
    background: white url('../img/icons/icon-sex.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-28 {
    background: white url('../img/icons/icon-monument.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-29 {
    background: white url('../img/icons/icon-party.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-29 {
    background: white url('../img/icons/icon-party.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}

.type-icon-30 {
    background: white url('../img/icons/icon-religion.png') repeat left top;
    width: 48px;
    height: 48px;
    background-size: contain;
}
