@font-face {
    font-family: 'mostlymonomedium';
    src: url('../fonts/mostlymono-webfont.eot');
    src: url('../fonts/mostlymono-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mostlymono-webfont.woff') format('woff'),
    url('../fonts/mostlymono-webfont.ttf') format('truetype'),
    url('../fonts/mostlymono-webfont.svg#mostlymonomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Times New Roman';
}

h1, h2, h3, h4, h5 {
    font-family: 'mostlymonomedium';
}
