.visit {
  margin-top: 20px;
}

.carapils {
  margin-top: 30px;
  width: 130px;

  h4 {
    text-align: center;
    float: right;
    margin-left: 65px;
    font-size: 14px;
  }

  img {
    vertical-align: middle;
    width: 30px;
    margin-left: 40px;
  }
}