.item-divider {
    font-family: 'mostlymonomedium';
    text-transform: uppercase;
    font-family: 24px;
}
.neighborhood {
    font-size: 20px;
    text-transform: uppercase;
}

.type-name {
    color: #e9e5e5;
    left: 32px;
}