.tabs {
    background-image: none;
    background: white url('../img/footer.png') repeat left top;
    height: 4.5em;
    border-top: none !important;
}

.tabs .tab-item {
    .icon-maps {
        background: white url('../img/icon-map.png') repeat left top;
        height: 48px;
        width: 48px;
        background-size: contain;
    }

    .icon-places {
        background: white url('../img/icon-places.png') repeat left top;
        width: 48px;
        height: 48px;
        background-size: contain;
    }

    .icon-guide {
        background: white url('../img/icon-guide.png') repeat left top;
        width: 48px;
        height: 48px;
        background-size: contain;
    }

    .tab-title {
        font-family: 'mostlymonomedium';
        text-transform: uppercase;
    }
}
