.tabs {
    background-image: none;
    background: white url('../img/footer.png') repeat left top;
    height: 4.5em;
    border-top: none !important;
}

.icon-maps {
    background: white url('../img/icon-maps.png') repeat left top;
    height: 25px;
    width: 18px;
}

.icon-places {
    background: white url('../img/icon-places.png') repeat left top;
    width: 52px;
    height: 25px;
}

.icon-guide {
    background: white url('../img/icon-guide.png') repeat left top;
    width: 45px;
    height: 23px;
}