.bar.bar-stable {
  background: white url('../img/header.png') repeat right top;
}

.bar .title {

  i {
    display: inline-block;
    position: relative;
    height: 22px;
    width: 8px;
    &.icon-winks-left {
      background: white url('../img/antwerp-winks-left.png') no-repeat top left;
      top: 5px;
      right: 5px;
    }
    &.icon-winks-right {
      background: white url('../img/antwerp-winks-right.png') no-repeat top left;
      top: 7px;
      left: 5px;
    }
  }
}
