.bar.bar-stable {
    background: white url('../img/header.png') repeat right top;
}

.bar .title {

    &:before {
        display: block;
        content: '';
        background: white url('../img/antwerp-winks.png') no-repeat top left;
        position: absolute;
        top: 7px;
        left: 44%;
        height: 22px;
        width: 8px;
    }

    &:after {
        display: block;
        content: '';
        background: white url('../img/antwerp-winks-2.png') no-repeat top left;
        position: absolute;
        top: 11px;
        right: 44%;
        height: 22px;
        width: 8px;
    }
}
